:root {
    --color-text-title: #FFFFFF;
    --color-text-text: #000000;
    --color-right-box: #F0FFFF;
    --color-button-proceed: #FF0000;
    --color-button-proceedhov: #FFA07A;
    --color-button-facebook: #7B68EE;
    --color-button-facebookhov: #483D8B;
    --color-button-googlehov: #C0C0C0;
}

body {
    color: var(--color-text-text);
}

.list-none {
    list-style: none;
    padding-left: 0;
}

.wrapper{
    margin: 0 auto;
    margin-top: 10px;
    width: 1400px;
    height: 870px;
    display: flex;
}

    .left{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 60%;
        height: 100%;
    }
        .left-text{
            text-align: center;
            font-size: 60px;
            line-height: 1.8;
            letter-spacing: 3px;
            color:var(--color-text-title);
            font-weight: 700;
            text-shadow: 5px 3px 7px black;
        }

    .right{
        display: flex;
        align-items: center;

        width: 40%;
        height: 100%;
    }
        .right-forma{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            outline: 1px solid black;
            border-radius: 30px;
            background-color: var(--color-right-box);
            margin-left: 60px;
            width: 380px;
            height: 800px;  
        }

        .right-title-text {
            text-align: center;
            font-size: 27px;
            line-height: 1.2;
            font-weight: 500;
        }

        .right-forma-text {
            text-align: center;
            font-size: 17px;
            line-height: 1.2;
            color: var(--color-text-text);
        }

        .right-text-name {
            margin: 10px 0px 3px 10px;
            font-size: 15px;
            color: var(--color-text-text);
        }

        .right-data {
            width: 280px;
            height: 45px;
            border-radius: 15px;
            padding-left: 15px;
            font-size: 16px;
        }

        .button-size {
            width: 280px;
            height: 45px;
            border-radius: 20px;
        }

        .button-proceed {
            background-color: var(--color-button-proceed);
            color: var(--color-text-title);
        }
        .button-proceed:focus,
        .button-proceed:hover {
            background-color: var(--color-button-proceedhov);
            color: var(--color-text-text);
        }

        .text-or {
            text-align: center;
            margin-top: 7px;
            margin-bottom: 7px;
            font-size: 17px;
            font-weight: 600;
        }

        .button-facebook {
            display: flex;

            background-color: var(--color-button-facebook);
            line-height: 1.0;
            color: var(--color-text-title);
        }

            .button-size svg {
                fill: var(--color-text-title);
            }

            .button-facebook-lable {
                margin-left: 12px;
                margin-top: 2px;
            }

            .button-facebook-text {
                margin-left: 35px;
                margin-top: 3px;
            }
        .button-facebook:focus,
        .button-facebook:hover {
            background-color: var(--color-button-facebookhov);
            color: var(--color-text-text);
        }

        .button-google {
            display: flex;
            align-items: center;
            
            margin-top: 15px;
            background-color: var(--color-text-title);
        }

            .button-google-lable {
                margin-left: 12px;
            }

            .button-google-text {
                margin-left: 20px;
            }
        .button-google:focus,
        .button-google:hover {
            background-color: var(--color-button-googlehov);
            color: var(--color-text-title);
        }

        .agreement {
            text-align: center;
            font-size: 14px;
            line-height: 1.3;
        }

            .agreement-text {
                font-weight: 700;
            }

        .account-login {
            display: flex;
            font-weight: 700;
            
        }
            .account-login-none {
                margin: 0;
            }
            .account-login-enter {
                margin-left: 8px;
                font-weight: 700;
                font-weight: inherit;
                color: inherit;
                text-decoration: none;
            }


